.repo--card {
  width: 280px;
  flex: 0 auto;
  background: $white;
  margin: .5rem;
  padding: 1rem;
  text-align: center;
}

.repos-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
