*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include async-font($sans-serif, $sans-serif-fallback);
  min-height: 100vh;
  position: relative;
  background: $grey;
}

.app {
  max-width: 1240px;
  margin: 0 auto;
}

.back-link {
  color: $black;
}
