.main {
  @include media-min($md) {
    display: flex;
  }

  &--sidebar {
    position: relative;

    @include media-min($md) {
      flex: 0 auto;
      margin-right: 1rem;
    }
  }
  &--content {
    @include media-min($md) {
      flex: 1 auto;
    }
  }
}
